@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
}

.spinner {
    position: relative;
    width: 56px;
    height: 56px;
    animation: spinner-x0t3la 3s infinite linear;
 }
 
 .spinner::before {
    content: '';
    display: block;
    height: 56px;
    width: 11.2px;
    animation: spinner-x0t3la 0.5s infinite;
    background: black;
    position: absolute;
    left: 50%;
    margin-left: -5.6px;
 }
 
 @keyframes spinner-x0t3la {
    to {
       transform: rotate(360deg);
    }
 }
 